<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>dashboardAdmin</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>UserServlet</display-name>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>com.Servlet.UserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/UserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminLogin</display-name>
    <servlet-name>AdminLogin</servlet-name>
    <servlet-class>com.Servlet.AdminLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLogin</servlet-name>
    <url-pattern>/AdminLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BrandsServlet</display-name>
    <servlet-name>BrandsServlet</servlet-name>
    <servlet-class>com.Servlet.BrandsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BrandsServlet</servlet-name>
    <url-pattern>/BrandsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CategoriesServlet</display-name>
    <servlet-name>CategoriesServlet</servlet-name>
    <servlet-class>com.Servlet.CategoriesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CategoriesServlet</servlet-name>
    <url-pattern>/CategoriesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutAdmin</display-name>
    <servlet-name>LogoutAdmin</servlet-name>
    <servlet-class>com.Servlet.LogoutAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutAdmin</servlet-name>
    <url-pattern>/LogoutAdmin</url-pattern>
  </servlet-mapping>
</web-app>